<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border-spacing: 3px;
  text-align: center;
  padding: 10px;
}
</style>
</head>
<body>

<table>
    <caption><b>Total de comidas</b></caption>
  <colgroup>
    <col span="1" style="background-color:#d5f4e6">
    <col span="5" style="background-color:transparent">
    <col span="1" style="background-color:#cbcba9">
  </colgroup>
  <tr>
    <th>Dia</th>
    <th>Desayunos</th>
    <th>Brunch</th>
    <th>Almuerzos</th>
    <th>Meriendas</th>
    <th>Cenas</th>
    <th>Total</th>
  </tr>
    {% for key, values in dias.items %}
        <tr>
        <td><b> {{ key }} </b></td>
        {% for value in values %}
            <td>{{ value }}</td>
        {% endfor %}
        </tr>
    {% endfor %}

